:root{
    --headColor:#04063C;
    --bodyColor:#111350;
    --secondaryColor:#EBB16D;
    --tertiaryColor:#E83737;
    --paragraphTextColor:#292D9F;

    --headTextFont: 45px;
    --navHeadTextFont: 30px;
    --heroText: 96px;
    --h1WorkText: 90px;
    
}

$leftSpace: 9.5em;
$leftSpaceMin: 2.5em;
$NTRerror: 0.3em;
$heroAnimSpace: 3em;


