


.nav-container{
    #introHead{
        padding: 1em 1em 1em $leftSpaceMin;
        .logo{
            font-size: 27px ;
        }
    
        #headerList{
            li{
                p{
                    padding: 0 .5em;
                }
            }
            
        }   
    }
    
}

